header{
    width: 100%;
    min-height: 100vh;
    background: sienna;
}

h1{
    font-size: 45px;
    color: hotpink;
    text-align: center;
}

h2{
    font-size: 36px;
    color: pink;
    text-align: center;
}