section .box{
    width: 450px;
    height: 450px;
    background: sienna;
    margin: 0 auto;
    padding: 0;
}

section .box p{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

button{
    font-size: 18px;
    border-radius: 3px;
    padding: 16px 65px;
   
}

section.result{
    width: 450px;
    height: 450px;
    background: sienna;
    margin: 0 auto;
    padding: 0;
}

.active{
    display: block;
}

section{
    display: none;
}