@import "mixin";

.active{
    display: block;
}

section{
    display: none;
}
// STARTPAGE STYLING
section.startPage{
    background: rgb(10, 10, 121);
    min-height: 100vh;
    padding: 50px 100px;
}
.mainContainerNone h1{
    text-align: center;
    font-family: $baseFont;
    font-size: 80px;
    color: #fc770a;
    margin: 0;
}
.mainContainerNone h2{
    text-align: center;
    font-family: $baseFont;
    font-size: 40px;
    color:#fc770a;
}

h1 span{
    color: rgb(35, 201, 2);
}
h2 span{
    color: rgb(35, 201, 2);
}

button{
    width: 300px;
    height: 60px;
    font-size: 18px;
    border-radius: 3px;
    padding: 16px 65px;
    text-decoration: none;
    border: 1px;
    background:rgb(35, 201, 2);
    color: #8b4727;
}

// QUESTION ONE STYLING
.mainBigContainer{
    display: flex;
}

.mainContainerOne{
    display: flex;
    width: 100%;
    justify-content: center;

}

.mainBoxContainer{
    display: flex;
}

form.formOne{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodBoxContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodBox{
    display: flex;
}

.inputBox{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.inputText{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 170px;
}

// .inputText label{
//     font-family: $baseFont;
//     color: #00cc00;
//     font-size: 36px;
// }

input[type="radio"]{
    height: 20px;
    width: 25px; 
}

// .mainContainerOne.rightBox{
//     background: #8b4727;
//     width: 100%;  
// }
// .mainContainerOne.rightBox p{
//     @mixin rightBox ()
// }

section.questionOne{
    .mainContainerOne.rightBox{
        .inputBox {
            width:100%;
        }
        @include rightBox ($firstColor, $secondColor);

        .inputBox button{
            @include questionButton ($secondColor, $firstColor);
        }
    }
    .mainContainerOne.leftBox{
        @include leftBox ($secondColor);
    }
   
}

section.questionTwo{
    .mainContainerOne.rightBox{
        @include rightBox ($fourthColor, $thirdColor);

        .inputBox button{
            @include questionButton ($thirdColor, $fourthColor);
        }
    }
    .mainContainerOne.leftBox{
        @include leftBox ($thirdColor);
    }
}

section.questionThree{
    .mainContainerOne.rightBox{
        @include rightBox ($fifthColor, $fourthColor);

        .inputBox button{
            @include questionButton ($fourthColor, $fifthColor);
        }
    }
    .mainContainerOne.leftBox{
        @include leftBox ($fifthColor);
    }

}

section.questionFour{
    .mainContainerOne.rightBox{
        @include rightBox ($firstColor, $sixthColor);

        .inputBox button{
            @include questionButton ($sixthColor, $firstColor);
        }
    }
    .mainContainerOne.leftBox{
        @include leftBox ($sixthColor);
    }
}

section.questionFive{
    .mainContainerOne.rightBox{
        @include rightBox ($thirdColor, $secondColor);

        .inputBox button{
            @include questionButton ($secondColor, $thirdColor);
        }
    }
    .mainContainerOne.leftBox{
        @include leftBox ($secondColor);
    }
}

.junkBox{
    width: 150px;
    height: 150px;
    margin: 35px 0px;
}
// .foodBox p{
//     font-family: $baseFont;
//     font-size: 60px;
//     color:  #8b4727;
//     margin: 0;
// }
// .foodBox i{
//     font-size: 40px;
//     color: #8b4727;
//     margin: 35px 0px;
// }
// Final Section Style
section.finalResult{
    width: 100%;
    height: 100vh;
    background: blue;
}
.finalResult{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.word{
    font-family: $baseFont;
    font-size: 50px;
    color: $firstColor;
    text-align: center;
    display: flex;
}