@media (max-width: 1250px){
    .mainBigContainer{
        flex-wrap: wrap;
    }

    form.formOne{
        padding: 0px 200px;
    }
    form.formTwo{
        padding: 0px 200px;
    }
    form.formThree{
        padding: 0px 200px;
    }
    form.formFour{
        padding: 0px 200px;
    }
    form.formFive{
        padding: 0px 200px;
    }
    
}

@media (max-width: 1100px){
    // form.formOne{
    //     padding: 0px 140px;
    // }
    // form.formTwo{
    //     padding: 0px 140px;
    // }
    // form.formThree{
    //     padding: 0px 140px;
    // }
    // form.formFour{
    //     padding: 0px 140px;
    // }
    // form.formFive{
    //     padding: 0px 140px;
    // }
}

@media (max-width: 978px){
    
}

@media (max-width: 940px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
    // .foodBoxContainer .junkBox {
    // width: 0px;
    // height: 0px;
    // margin: 35px 0px;
    // }
}

@media (max-width: 768px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
}

@media (max-width: 480px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
}