@media (max-width: 940px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
}

@media (max-width: 768px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
}

@media (max-width: 480px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
}