@media (max-width: 1250px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
    form.formOne{
        padding: 0px 200px;
    }
    form.formTwo{
        padding: 0px 200px;
    }
    form.formThree{
        padding: 0px 200px;
    }
    form.formFour{
        padding: 0px 200px;
    }
    form.formFive{
        padding: 0px 200px;
    }
    
}

@media (max-width: 940px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
}

@media (max-width: 768px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
}

@media (max-width: 720px){
    .mainContainerNone{
        max-width: 90%;
    }
}

@media (max-width: 480px){
    .mainBigContainer{
        flex-wrap: wrap;
    }
}