
$baseFont: 'Raleway', sans-serif;

$firstColor:rgb(35, 201, 2);
$secondColor:#8b4727;
$thirdColor: #fc770a;
$fourthColor:#ffe5cc;
$fifthColor:rgb(253, 162, 177);
$sixthColor:#e41382;

@import "components/setup";
@import "components/variable";
@import "components/mediaquery";
@import "components/main";
@import "components/header";
@import "components/footer";
@import "components/mixin";

html{
  font-size: 62.5%;
}

img{
  width: 100%;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}
//  ==== HOW TO MAKE SCSS PARTIAL FILES =======
// MAKE THE PARTIAL
// SAVE THE PARTIAL
// DELETE THE PARTIAL
// IMPORT THE PARTIAL
// SAVE style.scss